*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container {
        max-width: 1200px;
        margin: 0 auto;
}


.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.disco-right {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    text-align: center;
    
}

.disco-left {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    text-align: center;
    
}

.disco-txt h3 {
    padding: 0 90px;
    margin-top: 30px;
    font-size: 40px;
    font-family: "Abril Fatface", serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #605048;
}

.disco-txt p {
    padding: 0 80px;
    font-family: "Zen Maru Gothic", serif;
    font-size: 27px;
    text-align: justify;
    
}

.info-32{
    padding-bottom: 50px;
}

.info-32 h2 {
    font-size: 65px;
    margin-top: 40px;
   
}

.info-content9 h3:hover {
    color: #dabf96;
}


.content {
    background-color: #cfb376;
    min-height: 82px;

}
.menu .navbar ul li {
  
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18;
    padding: 20px;
    color: #605048;
    display: block;
    font-weight: bold;
}

 .menu .navbar ul li a:hover {
    color: #eed7c6;
 }

 .menu label {
    cursor: pointer;
    display: none;
 }

 @media(max-width:991px) {

    .content {
        min-height: 81;
    }
    .menu {
        top: 0;
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar{
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #cfb376;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }


    #menu:checked ~.navbar {
        display: initial;
    }


}

.footer{
    background-color: #cfb376;
    padding: 20px 0;
    margin-top: 30px;

}

@media(max-width:991px){
    .footer{
        text-align: center;
    }
    .content {
        min-height: 20;
    }

    .footer {
        bottom: 10;
        padding: 20px;
    }
}

body{
    background-color: #eed7c6;
}
    