*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lista-c h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
    color: #605048;
}

.general-content2 h3 {
text-align: center;
margin: 0 30px;
color: #1d1c1c;
margin-bottom: 30px;
margin-top: 30px;

}
.general-content2 h3:hover {
   color: #cfb376;
}



body{

    font-family: "Libre Baskerville", serif;
    font-weight: 8000;
    font-size: large; 

    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    font-size: large;
    
}

.content {
    background-color: #cfb376;
    min-height: 82px;

}
.menu .navbar ul li {
  
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18;
    padding: 20px;
    color: #605048;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #eed7c6;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {

    .content {
        min-height: 81;
    }
    .menu {
        top: 0;
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar{
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #cfb376;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }


    #menu:checked ~.navbar {
        display: initial;
    }


}

.footer{
    background-color: #cfb376;
    padding: 20px 0;
    
}

@media(max-width:991px){
    .footer{
        text-align: center;
    }
    .content {
        min-height: 20;
    }

    .footer {
        bottom: 10;
        padding: 20px;
    }
    
    

}

body{
    background-color: #eed7c6;
}